.containsAll {
    width: 100%;
    height: 100vh;
    background-image: url('img/mobile_bg.png');
    background-size: cover;
    margin: 0px auto;
    background-color: aqua;
    border: 2px soid yellow;
}

.sectionContainer {
    width: 100%; 
    height: 80%; 
    display: flex;
    justify-content: center; 
}

.section {
    width: 96%;
    height: 75%;
    position: absolute;
    z-index: 97; 
}

.sectionBg {
    width: 96%;
    height: 75%;
    position: absolute;
    z-index: 96; 
    background-color: black;
    opacity: 0.5;
}

/******************************/
/********** UTILITY ***********/
/******************************/

.show {
    display: block;
}

.hide {
    display: none;
}


/******************************/
/*********** NAV **************/
/******************************/

.navContainer {
    width: 100%;
    height: 20%;
    color: lightgrey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
}

li a {
    display: inline;
    display: block;
    color: lightgrey;
    padding: 8px 16px;
    text-decoration: none;
    float: left;
}

li a:hover {
    background-color: #555;
    color: white;
}

/******************************/
/*********** BOOK *************/
/******************************/

.bookContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bookHeader {
    width: 100%;
    height: 20%;
    color: lightgrey;
    box-sizing: border-box;
    padding: 10px;
}

.bookSection {
    width: 33%;
    height: 80%;
    color: lightgrey;
    box-sizing: border-box;
    padding: 10px;
}

.bookSection > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 400px;
    background-color: #f1f1f1;
}

.bookSection > ul > li {
    display: inline;
    display: block;
    color: lightgrey;
    padding: 8px 16px;
    text-decoration: none;
    float: left;
}

.bookSection > ul > li:hover {
    background-color: #555;
    color: white;
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:disabled {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: lightgrey;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
/*** CALENDAR TEST ***/
.react-calender__tile .react-calender__month-view__days__day {
    background-color: red !important;
    border: 1 px solid purple !important;
}

.red > button {
    border: 1 px solid purple !important;    
}


.react-calender__tile button{
    background-color: red !important;
    border: 1 px solid purple !important;
}

.react-calender__month-view__days__day button{
    background-color: red !important;
    border: 1 px solid purple !important;    
}

button .react-calender__month-view__days__day--weekend{
    border: 1 px solid purple !important;
}

.time{
    color: mediumslateblue !important;
}
@media screen and (min-width: 800px) {
    body {
        background-image: url('img/tablet_bg.png');
    }
}
@media screen and (min-width: 1000px) {
    .containsAll {
        background-image: url('img/webb_bg.png');
    }
    
}

